[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/CSR-Rewards-ERC20"]
	path = lib/CSR-Rewards-ERC20
	url = https://github.com/Dazer14/CSR-Rewards-ERC20
